<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>IM</title>
    <link href="/static/css/index.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div class="conts w">
    <div class="logo">
        <a href="#" class="logo-img"></a>
    </div>
    <div class="download">
        <div class="im-window">
            <img src="/static/images/im-window.jpg" width="834" height="505"/>
        </div>

        <a href="#" class="down"></a>
    </div>
    <div class="describe">
        <p>访客不需要下载安装任何软件及插件，直接点击网站客服图标或者链接即可与客服对话，非常方便。</p>

        <p>无须繁琐的验证，无须冗长的信息，1分钟极速注册，终身免费体验在线便捷的商务沟通。</p>

        <p>具有离线留言的功能，用户可以根据自身需求，以留言的形式发布给客服，客服上线之后会第一时间内了解用户需求并予以解答.</p>

        <p>及时调出完备的聊天记录，方便统一管理，提高整体业务水平。支持按关键字和聊天日期进行记录查询</p>
    </div>
</div>
<div class="footer">
    <div class="w">
        <p>地址：厦门市思明区软件园二期望海路37号5楼　客服电话：0592-6776776　在线QQ：1686776776 1146776776</p>

        <p><a href="http://w.cn/">w.cn</a> 版权所有 闽ICP备13005267号-1</p>
    </div>
</div>
</body>
</html>
